<!--SOEN287 Assignment 2
    RainTec Phone Repairs
    Name: Alex Rainbow
    ID: 40062747

    Resources used:
    Bootstrap: https://getbootstrap.com/docs/4.0/examples/
    Images: Found on Google Images-->

{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3"><b>Welcome to RainTec Phone Repair</b></h1>
                <p><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum magna est, id bibendum nunc placerat ac. In interdum lacinia ligula, at laoreet ligula posuere vitae. Nullam tristique leo sit amet facilisis dignissim. Praesent sed est efficitur, placerat risus vel, egestas mi. Suspendisse varius dolor aliquet urna mollis finibus. Curabitur convallis nisl tortor, eu accumsan nisl elementum in. Duis nec neque vehicula, tincidunt sapien sit amet, interdum leo.</b></p>
              <p>Learn more &raquo;</p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Header</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum magna est, id bibendum nunc placerat ac. In interdum lacinia ligula, at laoreet ligula posuere vitae. Nullam tristique leo sit amet facilisis dignissim. Praesent sed est efficitur, placerat risus vel, egestas mi. Suspendisse varius dolor aliquet urna mollis finibus. Curabitur convallis nisl tortor, eu accumsan nisl elementum in. Duis nec neque vehicula, tincidunt sapien sit amet, interdum leo.</p>
                    <p>Return to top</p>
                </div>
                <div class="col-md-4">
                    <h2>Header</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum magna est, id bibendum nunc placerat ac. In interdum lacinia ligula, at laoreet ligula posuere vitae. Nullam tristique leo sit amet facilisis dignissim. Praesent sed est efficitur, placerat risus vel, egestas mi. Suspendisse varius dolor aliquet urna mollis finibus. Curabitur convallis nisl tortor, eu accumsan nisl elementum in. Duis nec neque vehicula, tincidunt sapien sit amet, interdum leo.</p>
                </div>
                <div class="col-md-4">
                    <h2>Header</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum magna est, id bibendum nunc placerat ac. In interdum lacinia ligula, at laoreet ligula posuere vitae. Nullam tristique leo sit amet facilisis dignissim. Praesent sed est efficitur, placerat risus vel, egestas mi. Suspendisse varius dolor aliquet urna mollis finibus. Curabitur convallis nisl tortor, eu accumsan nisl elementum in. Duis nec neque vehicula, tincidunt sapien sit amet, interdum leo.</p>
                </div>
            </div>
         </div>
    </body>

{% endblock %}

{% block foot %}

{% endblock %}

